@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BlockBuster</h1>
    <h3>Clearance Sale</h3>
    <p>Everything <strong><u><em>MUST</em></u></strong> Go</p>
</div>
